html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

#filtro {
	background-image: url("../img/icon.png"); 
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
}


#map {
	bottom:0px;
	height: 100%;
	left: 302px;
	position: absolute;
	right: 0px;
}

.container {
	height: 100%;
	position: relative;
}


.lista-padrao, .lista-restaurantes {
	list-style-type: none;
    padding: 0;
    margin: 0;
}


.item-padrao {
	border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: white; 
    padding: 12px; 
    font-size: 18px; 
    color: black; 
    display: block; 
}


.item-padrao:hover:not(.header) {
    background-color: #eee; 
}

.item-selecionado {
    color: #4CAF50; 
}



}

h3 {
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 12px;
    font-size: 20px; 
    color: black; 
    display: block; 
}

h4, p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 16px; 
    color: black; 
    display: block; 
}

h5 {
    margin-top: 0px
}
