html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#filtro {
	background-image: url("../img/icon.png"); 
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
}


#map {
	bottom:0px;
	height: 100%;
	left: 302px;
	position: absolute;
	right: 0px;
}

.container {
	height: 100%;
	position: relative;
}



#lista {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

#lista li a {
	border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: white; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
}

#lista li a:hover:not(.header) {
    background-color: #eee; 
}
